<div class="medium-3 columns">
  <h3>Watch Next</h3>
  <img src="http://img.youtube.com/vi/ftrwe16sBiA/mqdefault.jpg" /> </br ></br >
  <img src="http://img.youtube.com/vi/ftrwe16sBiA/mqdefault.jpg" /><br /></br >
  <img src="http://img.youtube.com/vi/ftrwe16sBiA/mqdefault.jpg" />
</div>
