/************** CONTENT CONTAINER *******************************/

#content {
  background-color: #ffffff;
  font-family: "Muli";
  margin-bottom: 6rem;
  margin-top: 6rem;
}

h1 {
  font-family: "Muli";
}

.button {
  text-transform: uppercase;
}


/************** REVIEWS *****************************/

.row .review {
  margin-top: 15px;
}

.review-username {
  font-weight: bold;
}

.star {
  height: 70px;
}

.vote-buttons {
  text-align: center;
  /*margin-left: 30px;*/
}

.stars img {
  width: 30px;
}

.stars {
  line-height: 3em;
}

/************** UPVOTES *****************************/

#upvote {
  color: grey;
}

#downvote {
  color: grey;
}

#upvoted {
  color: #bdd860;
}

#downvoted {
  color: #d85b36;
}
