$neutral: #d9d9d9;
$poppy: #ec4339;
$white: #ffffff;
$grey: #777;

/************** NAVIGATION *******************************/

#nav-container {
  border-bottom: 1px solid $neutral;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown {
  border: 1px solid $neutral;
  border-top: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown li > a {
  border-bottom: 1px solid $neutral;
}

/************** Profile Photo *******************************/

#profile_photo {
  /*how to change the position of the photo*/
  width: 30px;
  height: 30px;
}

/************** Search Bar *******************************/

#search-bar {
  width: 115px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  box-shadow: none;
  border-color: $white;
}

#search-bar:hover {
  border-color: $neutral;
}

#search-bar:focus {
  border-color: $neutral;
}

#search-button {
  width: 95px;
}

#search-button > button {
  background-color: $neutral;
  color: $grey;
  line-height: 1em;
}

#search-button > button:hover {
  background-color: $poppy;
  color: $white;
}

li.has-form {
  width: 250px;
  padding: 0;
}
