<li class="has-form">
  <div class="row collapse">
    <%= form_tag(programs_path, :method => "get") do %>
      <div class="large-8 small-9 columns" id="search-button">
        <%= text_field_tag :search, params[:search], id: "search-bar", placeholder: "Search Shows" %>
      </div>
      <div class="large-4 small-3 columns" id="search-button">
        <button type="submit" class="button expand">Search</button>
      </div>
    <% end %>
  </div>
</li>
