<li>
    <%= form_tag(programs_path, method: "get") do %>
    <%= text_field_tag :search, params[:search], id: "search-box", class: "search-box", placeholder: "Search Shows" %>
    <%= label_tag "search-box", '<span><i class="fa fa-search"></i></span>'.html_safe %>
    <input type="submit" id="search-submit" />
    <% end %>
</li>
